ion-card {
  border-radius: 20px;
}

ion-icon, h2 {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  color: #0F236C;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

.data {
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
}

ion-button {
  position: absolute;
  right: 0;
  --color: #000000;
}
