.content-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

}

.head-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.75;
}

.head-row {
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  border-bottom: 1px solid rgba(5,17,74,0.8);
  margin: 2% 5% 0;
}

.content-status {
  border-radius: 20px;
  padding: 4px 8px 4px 8px;
}
