@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.letra {
    font-family: 'Montserrat', sans-serif;
}

.feliz{
    color: yellowgreen; 
    font-size: 21px; 
    font-weight: bold;
}

.medio{
    color: orange; 
    font-size: 21px; 
    font-weight: bold;
}

.triste{
    color: red; 
    font-size: 21px; 
    font-weight: bold;
}

