<ion-content>
  <ion-row style="margin-top: 10%;" class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-img class="logo-img" src="assets/photos/logo.png" style="width: 100%"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-label class="title">Bienvenido a Diabetics!</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-label class="subtitle">Por favor introduce tu creedenciales</ion-label>
    </ion-col>
  </ion-row>
  <br />
  <ion-row >
    <ion-col style="display: flex; justify-content: center">
      <input class="input-login" type="text" placeholder="Dirección de email" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="display: flex; justify-content: center">
      <input class="input-login" type="password" placeholder="Contraseña"/>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <ion-button [routerLink]="['/']" class="login-btn">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
