<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de la actividad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row style="margin-top: 3%;" class="head-row">
    <ion-col>
      <ion-row>
        <ion-label>
          <span class="head-text">Nombre de la actividad</span>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label>
          <span class="content-text">{{actividad.titulo}}</span>
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr />
  <ion-row style="margin-top: 3%;" class="head-row">
    <ion-col>
      <ion-row>
        <ion-label>
          <span class="head-text">Descripcion</span>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label>
          <span class="content-text">{{actividad.descripcion}}</span>
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr />
  <ion-row style="margin-top: 3%;" class="head-row">
    <ion-col>
      <ion-row>
        <ion-label>
          <span class="head-text">Tipo</span>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label>
          <span class="content-text">{{actividad.tipo}}</span>
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr />
  <ion-row style="margin-top: 3%;" class="head-row">
    <ion-col>
      <ion-row>
        <ion-label>
          <span class="head-text">Periocidad</span>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label>
          <span class="content-text">{{actividad.periocidad}}</span>
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr />
  <ion-row style="margin-top: 3%;" class="head-row">
    <ion-col>
      <ion-row>
        <ion-label>
          <span class="head-text">Fecha</span>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label>
          <span class="content-text">{{actividad.fecha}}</span>
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr />
</ion-content>

