.content-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #0F236C;
  outline: none;
  padding: 5px;
  width: 100%;
}

.head-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.75;
}

.head-row {
  margin-left: 5%;
  margin-right: 5%;
}
