@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

ion-input {
  font-family: 'Montserrat', sans-serif
}

.buscar {
  display: flex;
  border-bottom: 1px solid #0F236C;
  margin-bottom: 15px;
}
